<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>


<header>
        <div class="container">
            <div id="branding">
                <h4> <span class="highlight">Suppliers </span>Accounts</h4>
            
            </div>
        </div>
    </header>

    <% include ./navmenu %>

    
<body>
        

    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Remove Balance</h1>
    
            
            <% if ( success_messages !='' ) { %>
                <div class="alert alert-success" >
                    <strong><%= success_messages %> </strong>
                </div>
                <% } %>
    
            <% if ( error != '' ) { %>
                    <div class="alert alert-success" >
                        <strong><%= error %> </strong>
                    </div>
            <% } %>
    
            <form action="/ubalance" method="POST">
              <div class="form-group">
                <label for="email">Date</label>
                <input
                  type="date"
                  id="date"
                  name="date"
                  class="form-control"
                  placeholder="Enter Date"
                />
              </div>
              <div class="form-group">
                <label for="password">Previous Balance</label>
                <input
                name = "tbalance" value="<%= data.balance %>"  id = "tbalance" type="text" AutoPostBack="true" runat="server" onkeyup="substract()"
                  class="form-control"
                  placeholder="Previous Balance"
                />
              </div>
    
              <div class="form-group">
                <label for="password">Amount Removing</label>
                <input
                name = "removes"  id = "removes" type="text" AutoPostBack="true" runat="server" onkeyup="substract()"
                  class="form-control"
                  placeholder="Amount Adding"
                />
              </div>
    
              
              <div class="form-group">
                <label for="password">New Total Balance</label>
                <input
                name = "nbalance"  id = "nbalance" type="text" AutoPostBack="true" runat="server" onkeyup="substract()"
                  class="form-control"
                  placeholder="New Balance"
                />
              </div>
    
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>

  <script>
    function substract() {
        var tbalance =parseInt(document.getElementById("tbalance").value);
        var removes = parseInt(document.getElementById("removes").value);
        var result = tbalance - removes;
            document.getElementById("nbalance").value = result;
       

    }
</script>
</body>
</html>